<div class="container">
  <div class="header" [ngStyle]="{ 'z-index': 1 }">
    <div class="back-group">
      <div *ngIf="canGoBack" class="back-button" (click)="onBackClick()">
        <icon type="angle-left"></icon>
      </div>
    </div>
    <div class="menu-group">
      <div class="menu-button" (click)="onDebugClick()">
        <icon type="plug"></icon>
      </div>
      <div class="menu-button" (click)="onSettingsClick()">
        <icon type="cog" class="normal-icon"></icon>
      </div>
      <div class="menu-button" (click)="onMessageBarClick()">
        <icon type="comments" class="normal-icon"></icon>
      </div>
      <div class="menu-button" (click)="onMenuClick()">
        <icon type="navicon" class="normal-icon"></icon>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section content-root">
      <router-outlet></router-outlet>
    </div>
    <div class="section right-section msg-box" [ngClass]="{ 'no-display': !showMsg }">
      <div class="message-item">暂时没有新消息。</div>
    </div>
    <div class="section right-section" [ngClass]="{ 'no-display': !showMenu }">
      <div
        *ngFor="let eachUrl of urls"
        [routerLink]="eachUrl[0]"
        routerLinkActive="router-link-active"
        class="router-link"
      >
        <span>{{ eachUrl[1] }}</span>
      </div>
    </div>
  </div>
</div>
