<div class="container">
  <div class="header">
    <div class="back-group">
      <div *ngIf="canGoBack" class="back-button" (click)="onBackClick()">后退</div>
    </div>
    <div class="menu-group">
      <div class="menu-button" (click)="onDebugClick()">调试</div>
      <div class="menu-button" (click)="onMenuClick()">{{ showMenu ? "收起" : "展开" }}</div>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <router-outlet></router-outlet>
    </div>
    <div class="section right-section" [ngClass]="{ 'no-display': !showMenu }">
      <div
        *ngFor="let eachUrl of urls"
        [routerLink]="eachUrl[0]"
        routerLinkActive="router-link-active"
        class="router-link"
      >
        <span>{{ eachUrl[1] }}</span>
      </div>
    </div>
  </div>
</div>
