$primary-color: #1f67d3;
$primary-weak-color: #3477db;
$hover-color: #f0ba55;
$active-color: #1859bb;

$font-main-color: #fff;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;

  a {
    cursor: pointer;
  }

  .router-link {
    cursor: pointer;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    color: $font-main-color;
    text-decoration: none;
    line-height: 32px;
    transition: background-color 0.5s;

    span {
      font-size: 14px;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $hover-color;
    }
  }

  .router-link-active {
    background-color: $active-color;
    transition: background-color 0.5s;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $primary-color;
    color: $font-main-color;
    padding: 20px;
    box-shadow: 0px 1px 1px #acacac;
    box-sizing: border-box;

    .back-group {
      flex: 1;
      box-sizing: border-box;

      .back-button {
        cursor: pointer;
        display: inline-block;
        margin-right: 8px;
      }
    }

    .menu-group {
      flex: 1;
      text-align: right;
      box-sizing: border-box;

      .menu-button {
        cursor: pointer;
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: row;
    flex: 1;
    box-sizing: border-box;

    .section {
      flex: 1;
    }

    .right-section {
      flex: unset;
      width: 240px;
      background-color: $primary-weak-color;
      color: $font-main-color;
      transition: 0.45s;
    }

    .no-display {
      width: 0;
      opacity: 0;
      color: transparent;
      transition: 0.25s;
    }
  }
}
